---
import Button from '~/components/ui/Button.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
} = Astro.props;
---

<section class="not-prose relative md:-mt-[76px]">
  <div class="pointer-events-none absolute inset-0" aria-hidden="true"></div>
  <div class="relative mx-auto max-w-7xl px-4 sm:px-6">
    <div class="pointer-events-none pt-0 md:pt-[76px]"></div>
    <div class="py-12 pb-8 md:py-20 md:pb-8">
      <div class="mx-auto max-w-5xl text-center">
        {
          tagline && (
            <p
              class="text-base font-bold uppercase tracking-wide text-secondary dark:text-blue-200"
              set:html={tagline}
            />
          )
        }
        {
          title && (
            <h1
              class="leading-tighter mb-4 font-heading text-5xl font-bold tracking-tighter dark:text-gray-200 md:text-6xl"
              set:html={title}
            />
          )
        }
        <div class="mx-auto max-w-3xl">
          {subtitle && <p class="mb-6 text-xl text-muted dark:text-slate-300" set:html={subtitle} />}
          <div class="m-auto flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center">
            {
              callToAction && (
                <div class="flex w-full sm:w-auto">
                  {typeof callToAction === 'string' ? (
                    <Fragment set:html={callToAction} />
                  ) : (
                    <Button variant="primary" {...callToAction} />
                  )}
                </div>
              )
            }
            {
              callToAction2 && (
                <div class="flex w-full sm:w-auto">
                  {typeof callToAction2 === 'string' ? (
                    <Fragment set:html={callToAction2} />
                  ) : (
                    <Button {...callToAction2} />
                  )}
                </div>
              )
            }
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
    </div>
  </div>
</section>
